<h2>マイページ</h2>
<%= link_to "ログアウト", destroy_manager_session_path,method: :delete, data: { turbo_method: :delete }%><br>

<%= link_to "シフトカレンダー", "/managers/schedule" %><br>
<%= link_to "管理者一覧", "/managers/managers" %><br>
<%= link_to "従業員一覧", "/managers/employees" %><br>
<%= link_to "通知一覧", "/managers/notification" %><br>
<%= link_to "登録情報の編集", "/" %><br>
