<h2>Sign up</h2>

<%= form_with model: @manager, url: manager_registration_path do |f| %>
  <%= render "managers/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :loginID %><br />
    <%= f.text_field :loginID, autofocus: true, autocomplete: "LoginID" %>
  </div>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= link_to "マイページ", "/managers/home" %>
